*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #17181C;
}
section{
    background-color: white;
    width: 270px;
    height: auto;
    border-radius: 15px;
}
img{
    width:270px;
    border-radius: 15px 15px 0 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;

}
h2{
    font-size: small;
}
h1{
    font-size: 26px;
}
p{
    font-size: 12px;
    width: 200px;
    color: #c7c5c5;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
footer{
    display: flex;
    width: 270px;
    height: 80px;
   
    border-radius: 0 0 15px 15px;
}
.read{
   width: 90px;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 0 2px 0 0 solid white;
   
}
.view{
    width: 90px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comments{
    width: 90px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one{
    background-color: #DD075F;
}
.two{
    background-color: #F54B0D;

}
.three{
    background-color: #00A736;
}
.card_1 h2{
    color:#DD075F ;
}
.card_2 h2{
    color: #F54B0D;
}
.card_3 h2{
    color: #00A736;
}
h4{
  font-size: 12px ; 
  color: white;
}
